---
import AboutHeroImage from '../assets/utoss_logo_cropped.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="About UTOSS"
	pubDate={new Date('September 29 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		We are a club that is only made possible by collaboration and contribution.
		We thank the following members:
	</p>

	<ul>
		<li>Joonseo Park</li>
		<li>Boris Potapov</li>
		<li>Daniel Tao Huang</li>
		<li>Robert Saab</li>
		<li>Yuxuan</li>
		<li>Joe Dai</li>
		<li>Edwyn Zhou</li>
		<li>Diego Ciudad Real Escalante</li>
		<li>Harshit Sohaney</li>
		<li>Seva Alipov</li>
		<li>Loago Zambe</li>
    	<li>Julian Poon</li>
		<li>Abhishek Nimalan</li>
		<li>Apurva Agrawal</li>
		<li>Janice (Nahyun) Ahn </li>
		<li>Mr. Worldwide</li>
	</ul>


</Layout>
